
.d-flex {
    display: flex;
    justify-content: center;
    align-items: center;
}
* {
    margin: 0;
    padding: 0;
}
.container {
    width: 800px;
    border: 5px solid darkgrey;
    padding: 5px;
    margin: 0 auto;
    border-radius: 8px;

}
.header, .main_left_header {
    background: lightgrey;
    height: 100px;
}
.main {
    display: flex;
    margin-top: 5px;
    column-gap: 5px;
}
.main_left_content {
    display: flex;
    column-gap: 5px;

}
.main_left_item {
    flex-grow: 1;
    width: 33,33%;
    height: 100px;
    background: lightgrey;
}
.main_left {
    display: flex;
    flex-direction: column;
    row-gap: 5px;
    width: 80%;
}
.main_right {
    background: lightgrey;
    flex-grow: 1;

}