.wrap {
    display: flex;
    width: 1000px;
    height: 500px;
    flex-wrap: wrap;
    column-gap: 10px;
    row-gap: 10px;
    margin: 0 auto;
}
.d-flex {
    display: flex;
    justify-content: center;
    align-items: center;
}
.header {
    width: 1000px;
    height: 100px;
    background: grey;
    column-gap: 10px;
}
.parent {
    background: #dc2e18;
    width: 700px;
    height: 20px;
    display: flex;
    flex-direction: column;
    column-gap: 50px;

}
.nav {
    background: gold;
    height: 50px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    row-gap: 10px;

}
.f {
    background: blue;
    width: 300px;
    height: 50px;

}
