.wrap{
    display: flex;
    width: 1000px;
    column-gap: 50px;
}
*   {
    margin: 0;
    padding: 0;
}
.d-flex {
    display: flex;
    justify-content: center;
    align-items: center;
}
.header{
    background: blue;
    width: 50%;
    height: 100px;
    margin-bottom: 10px;
}
.father_nav {
    width: 500px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.nav1, .nav2, .nav3 {
    width: 33%;
    flex-direction: column;
    background: blue;
    height: 80px;
}
.footer{
    width: 50%;
    background: blue;
    height: 150px;
    margin-top: 10px;
}